#counter {
	text-transform: uppercase;
	font-family: Verdana;
	color: #000;
}

#canvas, #model {
	border: 10px solid #999;
	border-radius: 20px;
	margin: 0 auto 20px auto;
	display: inline-block;
	background: #fff;
}

#canvas {
	cursor: crosshair;
}

#canvas.bucket {
	cursor: url('cursor.cur'),auto;
}

#colors {
	list-style: none; 
	margin: 0 0 20px 0;
	padding: 0;
}

#colors li {
	display: inline-block;
}

#colors a {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	text-indent: 100%;
	overflow: hidden;
	border-radius: 50%;
}

#colors a.active {
	border: 2px solid #000;
	width: 26px;
	height: 26px;
}

h1 {
	margin-top: 0;
}

.rotation-canvas {
	z-index: 1;
	-ms-animation: rotation 10s infinite linear;
	-moz-animation: rotation 10s infinite linear;
	-webkit-animation: rotation 10s infinite linear;
	animation: rotation 10s infinite linear;
}

.rotation-model {
	-ms-animation: rotation 10s infinite linear;
	-moz-animation: rotation 10s infinite linear;
	-webkit-animation: rotation 10s infinite linear;
	animation: rotation 10s infinite linear;
	animation-direction: reverse;
}

.slider::-moz-focus-outer {
	border: 0;
}

.slider::-moz-range-thumb {
	width: 1rem;
	height: 1rem;
	background-color: #007bff;
	border: 0;
	border-radius: 1rem;
	transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	-moz-appearance: none;
	appearance: none;
}

.slider::-moz-range-track {
	width: 300px;
	height: .5rem;
	color: transparent;
	cursor: pointer;
	background-color: #dee2e6;
	border-color: transparent;
	border-radius: 1rem;
}

.slider {
	width: 300px;
	padding-left: 0;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#save {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: Violet;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

#save:hover {background-color: #ee82ee}

#save:active {
	background-color: #ee82ee;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#reset {
	color: darkgrey;
	background-color: white;
}

#reset:hover {
	background-color: lightgrey;
}

#reset:active {
	background-color: lightgrey;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#btn_yes, #btn_no {
	padding: 8px;
	color: white;
	border-radius: 3px;
}

#btn_yes {
	background-color: green;
}

#btn_no {
	background-color: red;
}

.model {
	width: 200px;
	height: 200px;
	border: 5px solid #999;
	border-radius: 10px;
	margin: 0 auto 10px auto;
	display: inline-block;
	background: #fff;
}

.stats {
	padding: 10px;
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: lightgray;
	opacity: 0.75;
}

.hidden {
	display: none !important;
}