#counter {
	text-transform: uppercase;
	font-family: Verdana;
	color: #000;
}

#canvas, #model {
	border: 10px solid #999;
	border-radius: 20px;
	display: inline-block;
	background: #fff;
}

#canvas {
	cursor: crosshair;
}

#canvas.bucket {
	cursor: url('cursor.cur'),auto;
}

#colors {
	list-style: none;
	margin: 0;
	padding: 0;
}

#colors li {
	display: inline-block;
}

#colors a.color {
	display: inline-block;
	text-indent: 100%;
	overflow: hidden;
	border-radius: 50%;
}

#colors #pencil, #colors #eraser, #colors #bucket{
	display: inline-block;
}

.colors-multi a.color {
	border:  3px solid transparent;
	margin: 2px;
	width: 44px;
	max-width: calc(100vw / 12);
	max-height: calc(100vw / 12);
}

.colors-multi a.color:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
.colors-multi a.color.active {
	border-color: #000;
}

.colors-multi a.fas {
	color: black;
	text-decoration: none;
	font-size: 44px;
}

.colors-multi a.fas.active {
	color: blue;
}

h2 {
	margin: 0;
}

.rotation-canvas {
	z-index: 1;
	-ms-animation: rotation 10s infinite linear;
	-moz-animation: rotation 10s infinite linear;
	-webkit-animation: rotation 10s infinite linear;
	animation: rotation 10s infinite linear;
}

.rotation-model {
	-ms-animation: rotation 10s infinite linear;
	-moz-animation: rotation 10s infinite linear;
	-webkit-animation: rotation 10s infinite linear;
	animation: rotation 10s infinite linear;
	animation-direction: reverse;
}

.slider::-moz-focus-outer {
	border: 0;
}

.slider::-moz-range-thumb {
	width: 2rem;
	height: 2rem;
	background-color: #007bff;
	border: 0;
	border-radius: 2rem;
	transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	-moz-appearance: none;
	appearance: none;
}

.slider::-moz-range-track {
	width: 100%;
	height: 1rem;
	color: transparent;
	cursor: pointer;
	background-color: #dee2e6;
	border-color: transparent;
	border-radius: 1rem;
}

.slider {
	width: 50%;
	padding-left: 0;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#save {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: Violet;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

#save:hover {background-color: #ee82ee}

#save:active {
	background-color: #ee82ee;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#reset {
	color: darkgrey;
	background-color: white;
}

#reset:hover {
	background-color: lightgrey;
}

#reset:active {
	background-color: lightgrey;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#btn_yes, #btn_no {
	padding: 8px;
	color: white;
	border-radius: 3px;
}

#btn_yes {
	background-color: green;
}

#btn_no {
	background-color: red;
}

.stats {
	position: absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 20px;
	right: 0;
}

#config {
	 /* Super provisoire ! */
	margin-top: 100px;
}

#btn-start {
	position: absolute;
	bottom: 20%;
}

.hidden {
	display: none !important;
}




#dashboard, #word, #model{
	width: 100%;
	height: 30vh;
	position: absolute;
	top:10vh;
	text-align: center;
}
#word{
	line-height: 200%;
}
#model{
	width: auto;
}
#dashboard{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: start;
	justify-content: space-evenly;
	height: 30vh;
	overflow-y: auto;
}
#dashboard .model{
	border: 5px solid #999;
	background-color: #ffffff;
	border-radius: 10px;
	margin-top: 5px;
	height: calc(50% - 15px);
	
}
#model{
	margin: 0 auto;
    width: calc(30vh - 20px);
    height: calc(30vh - 20px);
	max-width: calc(100vw - 20px);
	max-height: calc(100vw - 20px);
    left: 50%;
    transform: translateX(-50%);
}
#title{
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	height: 3vh;
	padding: 1vh 0;
	margin: 0;
}
#s{
	color: white;
	background-color: red;
	position: absolute;
	top: 5vh;
	width: 100%;
	text-align: center;
	height: 3vh;
	padding: 1vh 0;
}
#canvas{
	position: absolute;
	bottom: 20vh;
	width: calc(40vh - 20px);
	height: calc(40vh - 20px);
	max-width: calc(100vw - 20px);
	max-height: calc(100vw - 20px);
	left: 50%;
	transform: translateX(-50%);
	margin:0;
}
#colors{
	width: 100%;
    height: auto;
    position: absolute;
    bottom: 20px;
}
#colors li{
    max-width: calc(7.69% - 6px);
	max-height: calc(7.69vw - 6px);
}
#colors li a{
    max-width: 100%;
    max-height: 100%;
}


@media (min-width: 180vh) { 
		
	#dashboard{
		height: 35vh;
		top:5vh;
	}
	
	#s{
		background-color: green;

		right: 0;
		top: 40vh;
		bottom:0;
		width:calc(50vw - 30vh);
	}
	#colors{
		position:absolute;
		top: 40vh;
		left: 0;
		width:calc(50vw - 30vh);
		height: 60vh;
		bottom:0;
	}
	#canvas{
		position:absolute;
		height: calc(60vh - 20px);
		width: calc(60vh - 20px);
		left: 50%;
		transform: translateX(-50%);
		bottom:0;
		max-width: 50%;
		
	}
}
@media (max-width: 100vh) { 
	#s, #title{
		background-color: blue;
		top: 0;
		height: 2.5vh;
		padding: 0;
		width: 100%;
	}
	#title{
		top:2.5vh;
	}
	#canvas{
		width: calc(50vh - 20px);
		height: calc(50vh - 20px);
		top: 35vh;
	}
	#dashboard, #word, #model{
		height: calc(30vh - 20px);
		width: 100%;
		top: 5vh;
	}
	#model{
		width:auto;
	}
	#dashboard{
		height: 30vh;
	}
	#colors{
		bottom:0;
	}
}

