div.gallery {
	background-color: white;
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 300px;
}

div.top-select {
	background-color: white;
	margin: 5px;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: center;
}

div.gallery:hover {
	border: 1px solid #777;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

div.comment {
	background-color: white;
	margin: 5px;
	border: 1px solid #ccc;
	width: 50%;
	display: inline-block;
	text-align: left;
}

div.comment:hover {
	border: 1px solid #777;
}

hr.line {
	width: 50%;
}

.settings {
	font-size: 24px;
	float: right;
	color: black;
}

h5.date {
	float: right;
}

.false {
	background-color: #f8d7da !important;
}

.true {
	background-color: #d4edda !important;
}

@media screen and (max-width: 720px){
	article {
		margin-left: 0;
	}
}

@media screen and (max-width: 1280px){
	div.comment {
		width: 85%;
	}

	hr.line {
		width: 85%;
	}
}

div.gallery.impostor {
	border: 2px solid red;
}

div.gallery.best {
	border: 2px solid green;
}

div.gallery.impostor.best {
	border-color: green red red green;
}