body {
	margin: 0;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 280px;
	background-color: #fff;
	position: fixed;
	height: 100%;
	overflow: auto;
	border-right: 1px solid #ccc;
	text-align: left;
}

li.menu a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

li.menu a.active {
	color: white;
}

li.menu a:hover:not(.active) {
	background-color: #555;
	color: white;
}

a.active.green {
	background-color: #4CAF50;
}

a.active.red {
	background-color: tomato;
}

a.active.blue {
	background-color: dodgerblue;
}

a.active.yellow {
	background-color: #FFD800;
}

a.active.black {
	background-color: #000;
}

a.active.purple {
	background-color: blueviolet;
}

a.active.gray {
	background-color: grey;
}

a.active.blue {
	background-color: cornflowerblue;
}

.ee {
	opacity: 0;
	-webkit-transition: opacity 10s; /* For Safari 3.1 to 6.0 */
	transition: opacity 10s;
}

.ee:hover {
	opacity: 50;
}

@media screen and (max-width: 720px){
	ul.menu {
		height: auto;
		width: 100%;
		border-right: 0;
		position: static;
	}
}
